In [9]:
import pandas as pd
from datetime import datetime, timedelta

In [10]:
# Load the menu data from a CSV file
menu_df = pd.read_csv("./data/menus.csv")

# Load the sales data from a CSV file
sales_df = pd.read_csv("./data/sale.csv")

In [11]:
menu_df.info(), sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   uuid         10 non-null     object
 1   name         10 non-null     object
 2   category     10 non-null     object
 3   description  10 non-null     object
 4   price        10 non-null     float64
 5   add-on       10 non-null     object
dtypes: float64(1), object(5)
memory usage: 612.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108000 entries, 0 to 107999
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   uuid           108000 non-null  object
 1   date_time      108000 non-null  object
 2   menu_item      108000 non-null  object
 3   add_ons        108000 non-null  object
 4   add_ons_price  108000 non-null  float64
dtypes: float64(1), object(4)
memory usage: 4.1+ MB

(None, None)

In [12]:
menu_df.head(10)

,uuid,name,category,description,price,add-on
0,c30f3d0e-8fbe-4804-a843-d7ae8f429676,"BLT (bacon, lettuce & tomato)",Toasties On Sourdough,Toasties on sourdough,11.0,[]
1,4a16adfb-937b-4e2b-8088-bc97aaaf89a0,EGGS ON TOAST,All day breakfast,"Free range - poached, scrambled or fried (V. GFO)",9.5,"[{'name': 'Salmon, bacon, cevapi, Chorizo', 'p..."
2,de0d7cc9-91f4-4782-997d-a2678c2be150,"EGG, BACON & CHEESE TOASTIE",All day breakfast,"Sourdough, fried egg, house made relish, chees...",10.5,[]
3,89218c23-036a-4ced-bf2d-90234fd9ea37,Avocado & cheese,Toasties On Sourdough,Toasties on sourdough,9.0,[]
4,8949e3fa-9267-4907-a423-8c6c52c96a42,Fairy Bread,"CAKES, SLICES & SWEETS",House made assortment available from display -...,18.0,[]
5,3c8c1dc0-d74c-4f79-a644-a17c64240629,Quiche w/ relish,House Made Pastries,Served w/ aioli,7.0,[]
6,8bed3f97-54d7-43e5-9732-75b276a80f26,Ham & cheese,Toasties On Sourdough,Toasties on sourdough,7.0,[]
7,5475e638-d5b8-4d81-9b5c-7fd2aaa504d3,Flat White,Beverage,"A smooth, velvety milk coffee",4.0,"[{'name': 'Extra Shot', 'price': 0.5}, {'name'..."
8,d5ae5682-647f-46ea-b008-fb44a155c5ec,COCONUT & CHIA PUDDING,All day breakfast,"House made almond granola, berry compote serve...",17.5,[]
9,f799a1b0-67ea-4e34-83a8-cd691ba4fdec,VEGAN SWISS BROWN MUSHROOM BURGER,All day lunch,"Crispy porcini mushroom patty, pickled red cap...",18.0,[]

In [13]:
# Convert the 'price' column to float type
menu_df['price'] = menu_df['price'].astype(float)

# Drop the 'id' column as it might not be needed for further analysis
menu_df = menu_df.drop(columns=['uuid'])

# Drop the 'add-on' column as it might not be needed for further analysis
menu_df = menu_df.drop(columns=['add-on'])

# Drop the 'description' column as it might not be needed for further analysis
menu_df = menu_df.drop(columns=['description'])

# # Rename name to menu_name
# menu_df = menu_df.rename(columns={'name': 'menu_name'})

# Drop any rows with missing values
menu_df = menu_df.dropna(axis=0, how='any')

# Display the first few rows of the DataFrame
menu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   category  10 non-null     object
 2   price     10 non-null     float64
dtypes: float64(1), object(2)
memory usage: 372.0+ bytes

In [14]:
sales_df.head()

,uuid,date_time,menu_item,add_ons,add_ons_price
0,a467dc89-ee1c-4f4c-bf1b-8e0349fecd0b,2023-10-21 09:07:26.405505,COCONUT & CHIA PUDDING,[],0.0
1,418ad64f-8456-40df-92b4-db6fc8c851fa,2023-12-03 09:40:48.248450,Pavlova,[],0.0
2,6b644141-24ba-40f3-9bd7-9f6fe2422eab,2023-02-03 08:25:53.198912,BIG BREAKFAST,[],0.0
3,19f2f6fb-4ae9-45c2-8707-5cee025953d6,2022-12-13 14:14:09.822816,Espresso,[],0.0
4,8ba43f68-e7fa-4868-99a4-c6fcab074a1d,2024-05-05 10:14:01.011433,Pavlova,[],0.0

In [15]:
# Drop the 'id' column as it might not be needed for further analysis
sales_df = sales_df.drop(columns=['uuid'])

# # Rename the 'menu' column to 'menu_name' for clarity and consistency
# sales_df = sales_df.rename(columns={'menu_item': 'menu_name'})

sales_df = sales_df.sort_values('date_time', ascending=True).reset_index(drop=True)

# Drop any rows with missing values
sales_df = sales_df.dropna(axis=0, how='any')

# Display the first few rows of the DataFrame
sales_df.head()

,date_time,menu_item,add_ons,add_ons_price
0,2021-07-11 11:56:58.080954,Apple Juice,[],0.0
1,2021-07-11 12:02:45.404474,TEXAN COUSIN BURGER,[],0.0
2,2021-07-11 12:08:06.402440,"BLT (bacon, lettuce & tomato)",[],0.0
3,2021-07-11 12:08:58.342232,BIG BREAKFAST,[],0.0
4,2021-07-11 12:14:47.526805,Mocha,[],0.0

In [16]:
# Merge sales data with menu data using 'menu_name' and 'item_name'
merged_de = (pd.merge(menu_df, sales_df, left_on='menu_item', right_on='menu_item', how='inner'))

merged_df.dropna(axis=0, how='any')

# # Convert 'date_time' column to datetime
# merged_df["date_time"] = pd.to_datetime(merged_df["date_time"])
# 
# # Sort the dataframe
# merged_df = merged_df.sort_values(by='date_time', ascending=True).reset_index()
# 
# # Get date out of 'date_time'
# merged_df["date"] = merged_df["date_time"].dt.strftime("%Y-%m-%d")
# 
# # Get time out of 'date_time'
# merged_df["time"] = merged_df["date_time"].dt.strftime("%H:%M")
# 
# # Drop the 'date_time' column as we extract date and time out of it.
# merged_df = merged_df.drop(columns=["date_time"])

merged_df.head(20)

KeyError: 'menu_name'